 {{>header}}
    <div class="container is-size-2" href="" >
      <h2>{{title}}</h2>
        <div class="container is-size-6">
          <div class="notification">
            {{url}}
    
    {{#if isUser}}
    <div class="buttons">
      <a href="/edit/post/{{id}}" class="button ">
        <strong>Edit</strong>
      </a>
      <a href="/delete/post/{{id}}" class="button ">
        <strong>Delete</strong>
      </a>            
    </div>
  </div>      
</div>
{{/if}}
{{#if isAuthenticated}}
  <form action="/post/{{id}}" method="post">
      <div class="container">
      <label>Comment as {{username}}</label> 
            <textarea id=title class="textarea" type="text" name="text" placeholder="What are your thoughts?"></textarea>
            <button id=contentBtn class="button is-primary">Submit</button>
        
      </div>
    </form>
  {{/if}}

  {{!-- list the comments here --}}
  {{#each comments}}
  <div class="container is-size-6">
          <div class="notification">
            {{this.text}}
          </div>
  </div>
 {{/each}}

